<header class="topbar">
  <h1>Panel de Control de Cursos</h1>
  <p>Gestión interna de oferta formativa</p>
</header>

<main class="container">
  <section class="card">
    <h2>Registrar nuevo curso</h2>
    <app-course-form (courseCreated)="onCreateCourse($event)"></app-course-form>
  </section>

  <section class="card">
    <h2>Cursos registrados</h2>

    <app-course-list
      [courses]="courses"
      (toggleRequested)="onToggleCourse($event)"
      (deleteRequested)="onDeleteCourse($event)"
    ></app-course-list>
  </section>
</main>